<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dacha Finder</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
<h1>Mini App работает 🚀</h1>

<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
    let tg = window.Telegram.WebApp;
    tg.setBackgroundColor("#ffffff"); // фон белый
    tg.expand();
</script>
</body>
</html>